
button {
    background-color: wheat;
    color: black;
    border: none;
    border-radius: 3px;
    padding: 10px 20px ;
    font-size: 16px;
    cursor: pointer;
    position: relative;
    transition: all 0.3s ease-in-out;
  }
  button::before{
    content: "";
    inset: 2px;
    border: 2px solid black;
    position: absolute;
    opacity: 0;
    transition: opacity .3s ease-in-out;
  }
button:hover::before{
  opacity: 1;
  }