nav{
    background-color: #818589;
    color: whitesmoke;
    display: flex;
    margin-bottom:35px ;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    box-shadow: #0d031b;
}
nav h1 {
    margin-left: 25px;
    font-size: 30px;
    font-weight: bold;
    color: aliceblue;
    transition: color 0.3s ease-in-out;
}
nav h1:hover{
    color: black;
}

nav a{
    color:#FFF4CE;
    text-align: left;
padding: 3px;
text-decoration: none;
margin-right: 25px;
font-size:1.2em;
transition:  background 0.3s ease ;
}
a:visited{
    color: #FFF4CE;

}
 a:hover{
    color: #FFF4CE;
    background-color: #0d031b;
    border-radius: 12px;
    
 }
