/*.signup-title {
  width: 19%;
  margin: 80px auto 20px; 
  padding: 15px 40px;
  font-size: 24px;
  font-weight: bold;
  color: aliceblue;
  left:726px;
  padding-bottom: 20px; 
  background-color: black;
  border-radius: 15px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  text-align: center;
  transition: background-color 0.3s ease;
   
  margin-top: 150px;

}*/



/*.signup-title:hover {
  background-color: #FFF0F5;
  color: #002244;
}*/

.SignUpForm {
  margin-top: 120px;
    font-family: Calibri;
  }
  h3{
    width: max-content;
    border-radius: 8px;
      transition: background-color 0.3s ease;
  }
  h3:hover{
  background-color:#FFF0F5;
    color: #002244;
    }
  
  .Head {
    border-radius: 5px;
width: 400px;  
padding: 15px;
    text-align: center;
    margin: 10px auto;
    margin-bottom: 30px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    width: 400px;
    font-weight: bold;
    color: aliceblue;
    background-color: #111;
    transition: all 0.3s ease-in-out;
  }
  
  .Head:hover{
    box-shadow: 0px 4px 10px #002244;
  }
  
  .SignUp {
    color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100px;
    width:auto ;
    border-radius: 5px;
    transition: all 0.5s ease;
    padding-top: 400px;
    padding-bottom: 7px;
  }
  
  .SignUpForm {
    background-color: #111;
    padding: 20px;
    margin-top: 100px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    width: 400px;
    transition: all 0.3s ease-in-out;
  }
  .SignUpForm:hover {
    background-color: #1a1a1a;
    box-shadow: 0px 6px 15px rgba(255, 255, 255, 0.2);
    transform: scale(1.02);
  }
  .SignUpForm label {
    display: block;
    margin-bottom: 5px;
    color: white;
  }
  
  .SignUpForm input,
  .SignUpForm textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  .pass-f{
    display: flex;align-items: center;
    position: relative;
  }
  .pass-f input{
    flex : 1;
    padding-right: 30px;
  }
  input {
    width: 100%;
    padding: 8px;
    transition: background-color 0.4s ease;
    margin-right: 10px;
    box-sizing: border-box;
  }
  input:hover{
  background-color:#a0d2eb ;
  }
  .ip{
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;

  }

  .ip input{
    flex: 20px;
    padding-right: 30px;
    
  }

  .ip span
  {
    position: absolute;
    right: 10px;
    cursor: pointer;
    font-size: 1.5rem;
    padding-bottom: 15px;
    padding-right: 5px;
  }

  
